# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Menu.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\Administrator\Azazel\Assets\Horror FPS KIT\HFPS Assets\Content\Scripts\Core\Base\UI\Menu\.idea\.idea.Menu.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
